.main {
  flex: 2;

  display: flex;
  flex-direction: column;
  background: lightgray;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.row {
  background-image: url("../../assets/imagep.png");
  flex: 1;
  /* margin-top: 150px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  color: black;
}
.containerCardFeed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.titleh1,
.titleh4 {
  color: white;
  font-weight: bolder;
  font-size: 25px;
  height: 89px;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
}
h2 {
  font-size: 40px;
}
.titleFeed {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgba(255, 255, 255);
  top: 300px;
  width: 100%;
  font-size: 60px;
  font: normal normal bold 50px/60px Rubik;
  opacity: 1;
}
.imgTwo {
  border-radius: 25px;
  height: 50px;
  left: 33px;
}
.cardFeed {
  background-color: rgb(242, 242, 242);
  width: 800px;
  height: auto;
  padding: 2%;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  right: -180px;
  top: 0px;
}
.cardPartOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid white;
  border-width: 50%;
  padding: 2%;
}
span {
  text-align: left;
  font: normal normal bold 20px/37px Rubik;
  letter-spacing: 0.7px;
  color: #e70012;
  text-transform: uppercase;
  opacity: 1;
}
.cardPartTwo {
  display: flex;
  flex-direction: column;
  padding: 2%;
  font: normal normal normal 11px/17px Rubik;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}
.cardPartThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 2%;
}
.commentButton {
  background-color: rgb(243, 0, 9);
}
.addLikeButton {
  background-color: rgb(0, 169, 231);
}
.spaceTextButton {
  margin-left: 10px;
  margin-right: 10px;
}
.commentButton,
.addLikeButton {
  border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-content: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
}
p {
  font: normal normal normal 20px/37px Rubik;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}
.newPost {
  height: 150px;
  width: 400px;
  resize: none;
  display: flex;
  margin: 20px;
  padding-left: 10px;
  border-radius: 10px/20px;
}

/* .newPost:focus {
  height: 100px;
  width: 400px;
  border-radius: 10px/20px;
} */
.addPost {
  display: flex;
  flex-direction: row;
  align-items: center;
}
